<!-- Content for when there is an error while fetching the repositories -->
<div *ngIf="isError">
  <app-background-message topMessage="Sorry, we failed to retrieve the issues for the repository."
    bottomMessage="Please, check your internet connection and try again." iconName="im-frown-o">
  </app-background-message>
</div>
<div *ngIf="issues.length === 0 && sharedDataService.searchTerm !== '' && !loading">
  <app-background-message topMessage="It seems, that this repository has no issues to display."
    bottomMessage="You can always check out another repository." iconName="im-git">
  </app-background-message>
</div>
<div class="container">
  <div *ngIf="loading" class="loading-container">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf="issues.length > 0" class="chart">
    <app-pie-chart idSelector="issueChart" [chartData]="chartData" [isDonut]="false">
    </app-pie-chart>
  </div>
  <app-issue-card *ngFor="let issue of issues" [issue]="issue"></app-issue-card>
</div>