  .bottom {
    .counts{
      display: flex;
      flex-wrap: wrap;
      span{
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
    
    a{
      display: inline;
    }
  }

.loading-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
