<!-- Content for when the user did not search for anything yet -->
<div *ngIf="sharedDataService.searchTerm === ''">
  <app-background-message topMessage="You haven't searched for anything yet."
    bottomMessage="Search for something using the search field above!" iconName="im-magnifier">
  </app-background-message>
</div>
<!-- Content for not getting any matches for the search -->
<div *ngIf="repos.length === 0 && sharedDataService.searchTerm !== '' && !loading">
  <app-background-message topMessage="Alas, nothing is found."
    bottomMessage="Perhaps, you should try checking out a different repository." iconName="im-frown-o">
  </app-background-message>
</div>
<!-- Content otherwise -->
<div class="container">
  <div *ngIf="loading" class="loading-container">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let repo of repos" class="col-sm-12 col-md-6 mt-5">
      <div class="card" style="height: 100%">
        <div class="card-body">
          <h5 class="card-title">{{ repo.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ repo.owner.login }}</h6>
          <h6 class="card-subtitle mb-2 text-muted">
            <a class="" href="{{repo.html_url}}">{{repo.html_url}}</a>
          </h6>
          <p class="card-text">{{ repo.description }}</p>
        </div>
        <div class="card-footer bottom">
          <div class="counts">
            <span class="badge badge-primary">Open issues: {{repo.open_issues_count}}</span>
            <span class="badge badge-secondary">Forks: {{repo.forks_count}}</span>
            <span class="badge badge-success">Watchers: {{repo.watchers_count}}</span>
            <span class="badge badge-info">Stargazers: {{repo.stargazers_count}}</span>
            <span *ngIf="repo.license !== null" class="badge badge-light">{{repo.license.name}}</span>
          </div>
          <div class="links">
            <a [routerLink]="['issues', repo.owner.login, repo.name]" class="btn btn-primary">Issues</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>